{% extends "base.html" %} {% block title %}Consultas{% endblock %} {% block content %}
<br>
<h3 align="center"><b>Nova consulta</b></h3>
<form action="/nova-consulta/" method="POST", autocomplete="off">
    <div class="form-group">
      <label for="local"><b>Especialidade:</b></label>
      <select name="especialidade" class="form-control" id="especialidade">
        <option selected disabled hidden>Selecione uma opção</option>
        {%for e in especialidades%}
        {%if especialidade != e%}
          <option>{{ e[0] }}</option>
        {%endif%}
        {%endfor%}
      </select>
    </div>
    <div class="form-group">
      <label for="local"><b>Local:</b></label>
      <select name="local" class="form-control" id="local">
        <option selected disabled hidden>Selecione uma opção</option>
        <option>Santa Casa</option>
        <option>Hospital Regional</option>
        <option>Hospital Universitário</option>
      </select>
    </div>
    <div class="form-group">
        <label for="data"><b>Data:</b></label>
        <input class="form-control" id="data" name="data" type="date">
    </div>
    <div class="form-group">
      <label for="hora"><b>Hora:</b></label>
      <input class="form-control" id="hora" name="hora" type="time">
    </div>
    <br/>
    <button type="button" class="btn btn-secondary"><a class="text-light" href="/consultas">Cancelar</a></button>
    <button type="submit" class="btn btn-primary">Agendar</button>
</form>
{% endblock %}
