{% extends "base.html" %} {% block title %}Cadastrar-se{% endblock %} {% block
    content %}
    <form method="POST", autocomplete="off">
      <br>
      <h3 align="center">Cadastrar-se</h3>
      <div class="form-group">
        <label for="cns"><b>CNS</b></label>
        <input
          type="text"
          class="form-control"
          id="cns"
          name="cns"
          placeholder="CNS"
        />
      </div>
      <div class="form-group", autocomplete="off">
        <label for="cpf"><b>CPF</b></label>
        <input
          type="text"
          class="form-control"
          id="cpf"
          name="cpf"
          placeholder="CPF"
        />
      </div>
      <div class="form-group", autocomplete="off">
        <label for="cpf"><b>Primeiro nome</b></label>
        <input
          type="text"
          class="form-control"
          id="primeiro_nome"
          name="primeiro_nome"
          placeholder="Digite o primeiro nome"
        />
      </div>
      <div class="form-group", autocomplete="off">
        <label for="cpf"><b>Último nome (sobrenome)</b></label>
        <input
          type="text"
          class="form-control"
          id="ultimo_nome"
          name="ultimo_nome"
          placeholder="Digite o sobrenome"
        />
      </div>
      <div class="form-group">
        <label for="tipo_sanguineo"><b>Tipo sanguíneo:</b></label>
        <select name="tipo_sanguineo" class="form-control" id="tipo_sanguineo">
          <option selected disabled hidden>Selecione uma opção</option>
          <option>A+</option>
          <option>A-</option>
          <option>B+</option>
          <option>B-</option>
          <option>AB+</option>
          <option>AB-</option>
          <option>O+</option>
          <option>O-</option>
        </select>
      </div>
      <div class="form-group">
        <label for="sexo"><b>Sexo:</b></label>
        <select name="sexo" class="form-control" id="sexo">
          <option selected disabled hidden>Selecione uma opção</option>
          <option value='F'>Feminino</option>
          <option value='M'>Masculino</option>
        </select>
      </div>
      <div class="form-group">
        <label for="senha1"><b>Senha</b></label>
        <input
          type="password"
          class="form-control"
          id="senha1"
          name="senha1"
          placeholder="Digite uma senha"
        />
      </div>
      <div class="form-group">
        <label for="senha2"><b>Confirme a senha</b></label>
        <input
          type="password"
          class="form-control"
          id="senha2"
          name="senha2"
          placeholder="Confirme a senha"
        />
      </div>
      <br/>
      <button type="submit" class="btn btn-primary">Cadastar</button>
    </form>
    {% endblock %}